<h3>Libros:</h3>
{{#each productsArray}}
    <div>
        <h5>Titulo: {{title}}</h5>
        <h5>Autor: {{author}}</h5>
        <h5>Precio: ${{price}}</h5>
    </div>
{{/each}}

{{#if data.hasPrevPage}}
    <a href="/products?page={{data.prevPage}}&limit={{data.limit}}">Anterior</a>
{{/if}}

{{#if data.hasNextPage}}
    <a href="/products?page={{data.nextPage}}&limit={{data.limit}}">Siguiente</a>
{{/if}}