{{!-- <a href="/carts/{{data.cartId}}">Ver Carrito</a> --}}
<h3>{{user}}</h3>

<div class="container-fluid row mt-5 justify-content-center">
{{#each productsArray}}
    {{!-- <div>
        <h5>Titulo: {{title}}</h5>
        <h5>Autor: {{author}}</h5>
        <h5>Precio: ${{price}}</h5>
        <h5>Categoria: {{category}}</h5>
        <form action="/api/carts/{{cartId}}/product/{{id}}" method="POST">
            <input type="submit" value="Agregar al carrito">
        </form>
        <h6>-----------------------</h6>
    </div> --}}
    <div class="card m-1" style="width: 18rem;">
        <img src="/images/{{thumbnail}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ title }}</h5>
            <p class="card-text">{{author}}</p>
            <p class="card-text">${{price}}</p>
            <form action="/api/carts/{{cartId}}/product/{{id}}" method="POST">
                <button class="btn btn-sm" type="submit"><img src="/icons/cart-plus.svg" alt=""></button>
            </form>
        </div>
    </div>
{{/each}}
</div>


<div class="container-sm d-flex mt-5 justify-content-center" style="width: 500rem;">
    {{#if data.hasPrevPage}}
        <button class="btn" onclick="location.href='/products?page={{data.prevPage}}&limit={{data.limit}}&sort={{data.sort}}&query={{data.query}}'"><img src="/icons/arrow-left-circle.svg" alt=""></button>
    {{/if}}

    {{#if data.hasNextPage}}
        <button class="btn" onclick="location.href='/products?page={{data.nextPage}}&limit={{data.limit}}&sort={{data.sort}}&query={{data.query}}'"><img src="/icons/arrow-right-circle.svg" alt=""></button>
    {{/if}}
</div>


<script type="text/javascript" src="/js/products.js"></script>