<div class="container-fluid row mt-5 justify-content-center">
    <div class="d-flex">
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownPriceButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ordenar
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownPriceButton">
                <button class="dropdown-item" onclick="location.href='/products?page={{data.page}}&limit={{data.limit}}&sort=asc&query={{data.query}}'">Precio ascendente</button>
                <button class="dropdown-item" onclick="location.href='/products?page={{data.page}}&limit={{data.limit}}&sort=desc&query={{data.query}}'">Precio descendente</button>
            </div>
        </div>

        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownCategoryButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categoria
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownCategoryButton">
                <button class="dropdown-item" onclick="location.href='/products?page={{data.page}}&limit={{data.limit}}&sort={{data.sort}}&query='">Todas</button>
                <button class="dropdown-item" onclick="location.href='/products?page={{data.page}}&limit={{data.limit}}&sort={{data.sort}}&query=fantasia'">Fantasia</button>
                <button class="dropdown-item" onclick="location.href='/products?page={{data.page}}&limit={{data.limit}}&sort={{data.sort}}&query=drama'">Drama</button>
                <button class="dropdown-item" onclick="location.href='/products?page={{data.page}}&limit={{data.limit}}&sort={{data.sort}}&query=ciencia_ficcion'">Ciencia Ficcion</button>
                <button class="dropdown-item" onclick="location.href='/products?page={{data.page}}&limit={{data.limit}}&sort={{data.sort}}&query=terror'">Terror</button>
            </div>
        </div>
    </div>
    {{#each productsArray}}
        <div class="card m-1" style="width: 18rem;">
            <img src="/images/{{thumbnail}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ title }}</h5>
                <p class="card-text">{{author}}</p>
                <p class="card-text">${{price}}</p>
                <form action="/api/carts/{{cartId}}/product/{{id}}" method="POST">
                    <button class="btn btn-sm" type="submit"><img src="/icons/cart-plus.svg" alt=""></button>
                </form>
            </div>
        </div>
    {{/each}}
</div>


<div class="container-sm d-flex mt-5 justify-content-center" style="width: 500rem;">
    {{#if data.hasPrevPage}}
        <button class="btn" onclick="location.href='/products?page={{data.prevPage}}&limit={{data.limit}}&sort={{data.sort}}&query={{data.query}}'"><img src="/icons/arrow-left-circle.svg" alt=""></button>
    {{/if}}

    {{#if data.hasNextPage}}
        <button class="btn" onclick="location.href='/products?page={{data.nextPage}}&limit={{data.limit}}&sort={{data.sort}}&query={{data.query}}'"><img src="/icons/arrow-right-circle.svg" alt=""></button>
    {{/if}}
</div>