<a href="/carts/{{data.cartId}}">Ver Carrito</a>

<h3>Libros:</h3>
<h6>-----------------------</h6>
{{#each productsArray}}
    <div>
        <h5>Titulo: {{title}}</h5>
        <h5>Autor: {{author}}</h5>
        <h5>Precio: ${{price}}</h5>

        <form action="/api/carts/{{cartId}}/product/{{id}}" method="POST">
            <input type="submit" value="Agregar al carrito">
        </form>
        <h6>-----------------------</h6>
    </div>
{{/each}}


{{#if data.hasPrevPage}}
    <a href="/products?page={{data.prevPage}}&limit={{data.limit}}&sort={{data.sort}}&query={{data.query}}">Anterior</a>
{{/if}}

{{#if data.hasNextPage}}
    <a href="/products?page={{data.nextPage}}&limit={{data.limit}}&sort={{data.sort}}&query={{data.query}}">Siguiente</a>
{{/if}}

<script type="text/javascript" src="/js/products.js"></script>